@using CTLtest1.Models;
@Model CTLtest1.Models.Order;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Uploaded @Model.OrderData</h1>
    </div>
</body>
</html>
